#search {
    text-align: center;
    padding: 200px;
}

#query-search {
    padding-left: 10px;
    border-radius: 35px;
    color: #bdc1c6;
    height: 35px;
    width: 500px;
    background-color: transparent;
    border: 1px solid #5f6368;
}

#query-search:hover {
    border: none;
    background-color: #28292a;
}

.query-btn {
    background-color: transparent;
    color: darkgrey;
    border: none;
    text-align: center;
    width: 150px;
    height: 35px;
}

.query-btn:hover {
    border: 1px solid #5f6368;
    border-radius: 5px;
    color: #28292a;
}

body {
    background-color: #202124;
}

.typo {
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
}

.separator {
    padding: 20px;
}

.google-text {
    font-weight: bold;
    font-size: 200px;
}

#g-oogle {
    color: blue;
}

#g-o-ogle {
    color: red;
}

#go-o-gle {
    color: orange;
}

#goo-g-le {
    color: blue;
}

#goog-l-e {
    color: green;
}

#googl-e {
    color: red;
}

#images-subtitle {
    color: snow;
    font-size: 20px;
}

.link-div {
    padding: 10px;
    text-align: right;
    margin-top: 20px;
}

#advanced-table {
    text-align: left;
    width: 1140px;
    height: 210px;
    color: #969ba1; 
}

.advanced-inputs {
    width: 554px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #5f6368;
    padding: 1px 8px;
    font-size: 13px;
    color: #bdc1c6;
}

.advanced-inputs:focus {
    border-color: #8ab4f8;
    box-shadow: none;
}